/* RESET */
body,
/* ul, */
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  /* font-size:1.2rem; */
  font-family: "Lexend", "Lato", san-serif;
}
body {
  background: #dadef0;
  /* margin-bottom: 100px; */
}
a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
}

h1 {
  text-align: center;
  color: #002041;
}
img {
  width: 100%;
  display: block;
}
/* HEADER */
.logo {
  width: 56px;
  height: 56px;
  float: left;
  background: url("img/hypster-alura.jpg") center center/56px no-repeat;
  font-size: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #c78c19, -3px -3px 8px #fff;
}
.logo:hover {
  opacity: 0.6;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Lexend", "Lato", san-serif;
  /* background: #23232e; */
  background: linear-gradient(to right, #3f2d59, #6610f2, #3f2d59);
  height: 18vh;
  box-shadow: 2px 2px 5px #2b2929;
}

/* ul */
.nav-list {
  /* list-style: none; */
  display: flex;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
.mobile-menu {
  /* escondendo mobile-menu */
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

/*transição entre logo*/
@media (max-width: 550px) {
  .logo {
    width: 56px;
    height: 56px;
    float: left;
    background: url("img/alura_1.jpg") center center/56px no-repeat;
    transition: all 0.3s ease-in;
  }
}

@media (max-width: 600px) {
  body {
    overflow: hidden;
    /* se algo transborda, fica escondido do body. Detalhe: quando esconde o body acaba escondendo o barra de rolagem também. */
    overflow: scroll; /* mostra a barra de rolagem */
  }

  /* para posicinar a navegação aonde quiser */
  .nav-list {
    position: absolute;
    top: 18vh; /*alinhando ul para baixo do header*/
    right: 0; /* alinha a direita */
    width: 65vw; /* representa a 65% da tela */
    height: 65vh;
    background: linear-gradient(to right, #3f2d59, #6610f2, #3f2d59);
    flex-direction: column; /* alinha em colunas */
    align-items: center;
    justify-content: space-evenly; /* espalhando os links embaixo do outro */
    transform: translateX(100%);
    /* mover a navegação pra fora da tela ao clicar no icone */
    /*transition: transform 0.3s ease-in-out; /* ease-in significa chegada suave*/
    /*transition: all 0.5s ease-in;/* transição quando desativa */
  }
  /*movimento do nav-list  */
  .nav-list.active {
    /* right:50%; */
    transition: all 0.5s ease-in;
    /* transição quando ativa */
  }

  /* para alinhar corretamente ao centro */
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .nav-list li a {
    display: block;
    padding: 10px;
    border-radius: 6px;
  }
  .nav-list li a:hover {
    /* color: #b02ab7; */
    color: #c78c19;
    transform: scale(1.03);
    border: 2px solid #c78c19;
  }
  /* para mostrar o icone menu */
  .mobile-menu {
    display: block;
  }
  /* quando nav-list estiver ativo voltar para zero */
  .nav-list.active {
    transform: translateX(0);
  }
}

@media (max-width: 240px) {
  .nav-list li a:hover {
    font-size: 10px;
  }
}
/* animar as opacidades dos links */
@keyframes navLinkFade {
  from {
    opacity: 0;
    /* leve translacionar da esquerda para direita */
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    /* voltando a posição otiginal surgindo de forma devagar */
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  /* rotacionar */
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  /* translacionar */
  transform: rotate(45deg) translate(-5px, -7px);
}

/* BANNER */
section {
  padding: 50px 0;
}
.top-margin {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (max-width: 200px) {
  .top .top-content {
    font-size: 15px;
  }
  .top .top-content a {
    font-size: 10px;
    padding: 8px 10px;
    margin-right: 10px;
  }
}

.top {
  color: #c78c19;
  display: flex;
  background: url("img/beneficios.jpg") no-repeat center;
  height: 80vh;
  background-attachment: fixed;
  /* padding: 80px 0; */
}
.top .max-width {
  width: 100%;
  display: flex;
}
.top .top-content .text-1 {
  font-size: 18px;
  margin-top: 100px;
}
.top .top-content .text-2 {
  font-size: 15px;
  font-weight: 400;
}

.top .top-content .text-3 {
  font-size: 23px;
}

.top .top-content a {
  display: inline-block;
  background-color: #b02ab7;
  color: #fff;
  font-size: 18px;
  padding: 12px 18px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  border: 2px solid #b02ab7;
  border-radius: 6px;
  transition: all 0.3s ease-in;
}
.top .top-content a:hover {
  color: #b02ab7;
  background: none;
}
/* CSS FLEXBOX 1*/
.flexbox1 {
  /* padding: 80px 0 0;
  margin: 50px 0 0; */
  text-align: center;
  margin: 40px 0 0;
  font-weight: 600;
  font-size: 25px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px; /*largura padrão para dimensionar e remove a expansão da última div */
  margin: 0 auto;
  margin-bottom: 50px;
}
.flex > div {
  flex: 1 1 200px;
  /* flex: 1 1 150px; */
  margin: 12px;
  /* width: 200px; */
  height: 100%;
}
.flex > div:hover {
  box-shadow: 3px 3px 8px #c78c19, -3px -3px 8px #fff;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 7px;
  color: #fff;
}
.flex > div > img {
  border-radius: 7px 7px 0 0;
}
.flex > div > p {
  line-height: 30px;
}

/* .flex-item {
  display: grid;
}
.flex-item img {
  grid-column: 1;
  grid-row: 1/3;
  align-self: end;
  text-align: center;
} */

.flex .flex-item p {
  background: linear-gradient(to right, #002041, #1175da, #002041);
  text-align: center;
  padding: 10px;
  color: #fff;
  grid-column: 1;
  grid-row: 2;
  align-self: end;
  /* border: 1px solid #d9d9d9; */
  font-size: 25px;
}

.flex .flex-item .inner .flex-description {
  font-size: 15px;
  background: linear-gradient(to right, #002041, #1175da, #002041);
}
.flex .flex-item .inner .flex-price {
  text-align: center;
  border-radius: 0 0 7px 7px;
  font-size: 22px;
  font-weight: bold;
  background: #002041 linear-gradient(to right, #3f2d59, #6610f2, #3f2d59);
  margin: 1px 0 0; /* afastou formando uma lista branca acima do preço */
}

footer {
  text-align: center;
  background: url("img/bg.jpg");
  padding: 20px 0;
}
footer img {
  width: 15%;
  display: inline-block;
}

.copyright {
  color: #fff;
  font-size: 12px;
  margin: 10px 0 0;
}

/* Página de contato */
/* main {
  width: 940px;
  margin: 0 auto;
} */
main {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  padding: 150px 0;
}
form {
  margin: 40px 0;
}

form label,
legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
  
}

/* fieldset */
.contato {
  width: 940px;
  margin: 40px auto;
}

.contato label,
.input-group legend {
  display: block;
  margin: 0 0 5px;
  font-size: 20px;
}

.campo-padrao,
textarea {
  display: block;
  margin: 0 0 30px;
  padding: 10px 20px;
  width: 50%;
  border: 1px solid #aaa;
}

.input-group {
  margin: 0 0 20px;
}

.newsletter {
  margin: 0 0 20px;
}

.botao {
  margin: 20px 0 0;
  width: 30%;
  padding: 10px 20px;
  font-size: 24px;
  display: inline-block;
  background: orange;
  color: white;
  border: none;
  border-radius: 5px;
  transition: 1s;
}

.botao:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* fieldset */
.funcionamento {
  width: 940px;
  margin: 0 auto 40px;
}

.class-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}
.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.enviar:hover {
  background: darkorange;
  /* transform: rotate(70deg) scale(1.02); */
  transform: scale(1.02);
}

table {
  margin: 20px 0 40px;
}

thead {
  background: #555;
  color: #fff;
  font-weight: bold;
}
th {
  background: #777777;
  color: #ffffff;
}

td,
th {
  border: 1px solid #000000;
  padding: 5px 20px;
}
