body {
}
#banner {
  width: 100%;
}

.principal {
  /* background: #f1ecec; */
  background: #eff3f6;
  padding: 30px;
}
.titulo-principal{
  padding-left: 20px;
}
.titulo-centralizado {
  text-align: center;
}
p {
  text-align: center;
}

em strong {
  color: #ff0000c9;
}
#missao {
  font-size: 20px;
  text-align: center;
}

.beneficios {
  background: #fff;
  color: #002041;
  padding: 20px;
}
.itens {
  font-style: italic;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}
.imagem-beneficios {
  width: 50%;
}
