/* RESET */
body,
/* ul, */
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  /* font-size:1.2rem; */
  font-family: "Lexend", "Lato", san-serif;
}
body {
  background: #dadef0;
  /* margin-bottom: 100px; */
}
a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
/* a:hover {
  opacity: 0.7;
} */

h1 {
  text-align: center;
  color: #002041;
}
img {
  width: 100%;
  display: block;
}
/* HEADER */
.logo {
  width: 56px;
  height: 56px;
  float: left;
  background: url("img/hypster-alura.jpg") center center/56px no-repeat;
  font-size: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #c78c19, -3px -3px 8px #fff;
  /* text-transform: uppercase; */
  /*letter-spacing: 4px; /*espaçamento entre caracteres*/
}
/*2a opção */
/* .logo > img {
  border-radius: 10px;
  width: 77%;
} */
.logo:hover {
  opacity: 0.6;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  z-index: 1; /* posicionou sobre os demais*/
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Lexend", "Lato", san-serif;
  /* background: #23232e; */
  background: linear-gradient(to right, #3f2d59, #6610f2, #3f2d59);
  height: 12vh;
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffff;
}

/* ul */
.nav-list {
  /* list-style: none; */
  display: flex;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
/* TRANSIÇÃO DO HOVER */
.nav-list a {
  transform: 2ms ease-in;
  position: relative;
  padding: 6px 12px;
}
.nav-list a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0px;
  height: 1.5px;
  background-color: rgb(251, 251, 0);
  transition: all 0.7s ease;
}
.nav-list a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 50%;
  width: 0px;
  height: 1.5px;
  background-color: rgb(251, 251, 0);
  transition: all 1s ease;
}
.nav-list a:hover:before {
  width: 50%;
}
.nav-list a:hover:after {
  width: 50%;
}

.mobile-menu {
  /* escondendo mobile-menu */
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
/*transição entre logo*/
@media (max-width: 550px) {
  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    background: url("img/alura04.png") center center/56px no-repeat;
    transition: all 0.3s ease-in;
  }
}
@media (max-width: 600px) {
  body {
    overflow: hidden;
    /* se algo transborda, fica escondido do body. Detalhe: quando esconde o body acaba escondendo o barra de rolagem também. */
    overflow: scroll; /* mostra a barra de rolagem */
  }
  nav {
    height: 10vh;
  }

  /* para posicinar a navegação aonde quiser */
  .nav-list {
    position: absolute;
    top: 10vh; /*alinhando ul para baixo do header*/
    right: 0; /* alinha a direita */
    width: 100vw; /* representa a 65% da tela */
    height: 65vh;
    background: rgba(8, 44, 165, 0.788);
    flex-direction: column; /* alinha em colunas */
    align-items: center;
    justify-content: space-evenly; /* espalhando os links embaixo do outro */
    transform: translateX(100%);
    /* mover a navegação pra fora da tela ao clicar no icone */
    transition: 0.3s ease-in-out; /* ease-in significa chegada suave*/
    transition: all 0.5s ease-in; /* transição quando desativa */
  }
  /*movimento do nav-list  */
  .nav-list.active {
    /* right:50%; */
    /* transition: all 0.5s ease-in; */
    /* transição quando ativa */
  }

  /* para alinhar corretamente ao centro */
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .nav-list li a {
    display: block;
    padding: 10px;
    border-radius: 6px;
  }

  /* para mostrar o icone menu */
  .mobile-menu {
    display: block;
  }
  /* quando nav-list estiver ativo voltar para zero */
  .nav-list.active {
    transform: translateX(0);
  }
}

@media (max-width: 240px) {
  .nav-list li a:hover {
    font-size: 10px;
  }
}

/* animar as opacidades dos links */
@keyframes navLinkFade {
  from {
    opacity: 0;
    /* leve translacionar da esquerda para direita */
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    /* voltando a posição otiginal surgindo de forma devagar */
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  /* rotacionar */
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  /* translacionar */
  transform: rotate(45deg) translate(-5px, -7px);
}

/* BANNER */
section {
  padding: 2rem 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

@media (max-width: 200px) {
  .top .top-content {
    font-size: 15px;
  }
  .top .top-content a {
    font-size: 10px;
    padding: 8px 10px;
    margin-right: 10px;
  }
}

/* TOP-IMAGE */
.top-image {
  /* color: #c78c19; */
  color: #fff;
  text-shadow: 0 1.5px #2b2929;
  background: url("img/banner.jpg") no-repeat center;
  height: 80vh;
  background-attachment: fixed;
  background-size: cover;
  padding: 80px 0;
}
.top-image .top-content {
  /* border: 1px solid red; */
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 30px;
}

.top-image .top-content .text-1 {
  font-size: 23px;
  text-align: center;
  /* margin-top: 100px; */
  clear: left; /* limpa a sombra do float */
}

.top-image .top-content .text-2 {
  font-size: 18px;
  text-align: center;
}

/* AJUSTANDO POSIÇÃO A IMAGEM ENTRE O TEXTO */
.top .top-content {
  display: inline;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  clear: left; /* limpar sombra em volta da imagem */
  color: #002041;
}

.top .top-content .text-1 {
  font-size: 23px;
  text-align: center;
  margin-bottom: 20px;
}
/* imagem ao lado texto */
.utensilios {
  width: 100px;
  float: left;
  margin: 0 20px 12px 12px;
  border-radius: 7px;
}
.top .top-content .text-2 p::first-letter {
  font-size: 40px;
  font-weight: 400;
}

.top .top-content .text-3 {
  color: #002041;
  font-size: 18px;
}
.top .top-content .text-4 {
  color: #002041;
  font-size: 15px;
}

.top .top-content a {
  display: inline-block;
  background-color: #b02ab7;
  color: #fff;
  font-size: 18px;
  padding: 12px 18px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  border: 2px solid #b02ab7;
  border-radius: 6px;
  transition: all 0.3s ease-in;
}
.top .top-content a:hover {
  color: #b02ab7;
  background: none;
}
/* CSS FLEXBOX 1*/
.flexbox1 {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}

/* texto estabelecimento */
.flex-title-principal {
  padding: 0.3125rem 3%;
  margin: 0 auto;
  color: #002041;
}
.flex-title-principal h3 {
  text-align: center;
  padding: 10px 0;
  font-size: 23px;
}
.flex-title-principal p {
  text-align: center;
  padding: 10px 0;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px; /*largura padrão para dimensionar e remove a expansão da última div */
  margin: 0 auto;
  /* margin-bottom: 40px; */
}

.flex > div {
  flex: 1 1 350px;
  /* flex: 1 1 150px; */
  margin: 15px;
  width: 350px;
  height: 100%;
  box-shadow: 3px 3px 8px #c78c19, -3px -3px 8px #fff;
  border-radius: 7px;
}
.flex iframe {
  border-radius: 7px;
}
.flex > div:hover {
  cursor: pointer;
  opacity: 0.7;
}
.flex .flex-item .inner > ul {
  padding-bottom: 78px;
  /* border: 1px solid #6610f2; */
  line-height: 23px;
  border-radius: 0 0 7px 7px;
}
.inner > ul > li::before {
  content: "🗸";
  color: #002041;
}
.inner > ul > li:nth-child(1) {
  font-weight: 700;
}
.flex .flex-item p {
  border-radius: 7px 7px 0 0;
}
.flex .flex-item .inner img {
  border-radius: 0 0 7px 7px;
}
.inner > ul > li {
  margin: 20px 0 0 20px;
}

/* .flex-item {
  display: grid;
}
.flex-item img {
  grid-column: 1;
  grid-row: 1/3;
  align-self: end;
  text-align: center;
} */

.flex .flex-item p {
  background: linear-gradient(to right, #002041, #1175da, #002041);
  text-align: center;
  padding: 10px;
  color: #fff;
  grid-column: 1;
  grid-row: 2;
  align-self: end;
  /* border: 1px solid #d9d9d9; */
  font-size: 25px;
}

.flex .flex-item .inner .flex-description {
  font-size: 15px;
  background: linear-gradient(to right, #002041, #1175da, #002041);
}
.flex .flex-item .inner .flex-price {
  text-align: center;
  border-radius: 0 0 7px 7px;
  font-size: 22px;
  font-weight: bold;
  background: #002041 linear-gradient(to right, #3f2d59, #6610f2, #3f2d59);
  margin: 1px 0 0; /* afastou formando uma lista branca acima do preço */
}

footer {
  text-align: center;
  background: url("img/bg.jpg");
  padding: 20px 0;
}
footer img {
  width: 15%;
  display: inline-block;
}

.copyright {
  color: #fff;
  font-size: 12px;
  margin: 10px 0 0;
}
